<li><a href="{{ site.url }}#location-landing" class="nav-link">Location</a></li>
<li><a href="{{ site.url }}#facilities-landing" class="nav-link">Facilities</a></li>
<li><a href="{{ site.url }}siteplan/" class="nav-link">Site Plan</a></li>
<li><a href="{{ site.url }}floorplan/" class="nav-link">E-Floor Plans</a></li>
<li><a href="{{ site.url }}brochure/" class="nav-link">E-Brochure</a></li>
<li><a href="{{ site.url }}about/" class="nav-link">About</a></li>
<li><a href="{{ site.url }}register/" class="nav-link">Register</a></li>
<li><a href="{{ site.url }}showflats/" class="nav-link">Virtual Showflats</a></li>
