.hero
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  background-image: url('../img/parc-botannia.jpg')
  height: 100vh
.title-bar
  position: fixed
  background: transparent
.title-bar-title
  img
    width: 100%
